<header class="header">
  <img src="{{logoUrl}}" alt="" />
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="../news.html">News</a></li>
    <li><a href="../promise.html">Promise</a></li>
    {{! <li><a href="../pages/contacts/index.html">Contact</a></li> }}
    <li><a href="../pages/pagination/index.html">Pagination</a></li>
  </ul>
  <div></div>
</header>